.searchbar{
    height:150px;
    width:80%;
    margin: 10% auto 0 auto;
    /* border: 1px solid grey; */
}
.searchbar_one{
    width:80%;
    margin:1% auto;
    padding:1%;
    font-size: 1.5rem;
}
.searchbar_two{
    border: 1px solid grey;
    width:80%;
    margin:auto;
    padding:0.3%;
    display:flex;
    border-radius: 30px;
}
.input_first{
   width:5%;
   height:30px;
   display:block;
   margin-top: 0.5%;
  
}
.input_second{
    width:83%;
     height:40px;
     font-size: large;
     border:none;

}
.input_second:focus{
  border:none;
  outline:none;
}
.input_third{
   width:12%;
    height:44px;
    border-radius: 30px;
    font-size: large;
    border:none;
    background-color: teal;
    color:white;
}