.container {
    margin-top: 5%;
    padding: 0 2%;
    color: #515a60;
    padding:1% 3%;
    background-color: rgba(127, 255, 240, 0.085);
  }
  
  .flexBox {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
    margin-bottom: 3%;
  }
  
  .flexBox > div {
    cursor: pointer;
  }